@import url('https://fonts.googleapis.com/css?family=Abel|Ubuntu');


h1 {
    font-family: 'Ubuntu', sans-serif;
}

* {
    font-family: 'Abel', sans-serif;
    color: #264348;
}

/* Style for our header texts
* --------------------------------------- */
body {
    background: white
}
h1{
    font-size: 4em;
    margin:0;
}
.intro p {
    font-size: 2em
}

p{
    font-size: 1.4em
}

/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align:center;
}

label{
    display: block;
    text-align: center;
    clear: both
}

label, input[type="text"],input[type="number"]{
    font-size: 2em;
}

input[type="text"],input[type="number"]{
    border-radius: 6px;
    border: solid 3px #D9D9D9;
}

input[type="text"]:focus,input[type="number"]:focus{

    border-color: #50C6FF;
}

.ui-selectmenu-button{
    background: #50C6FF;
    font-size: 1.5em;
    border: 4px solid #45AADB;
}

#currency-button{
    width: 10%;
    padding: 0.22em;
    position: relative;
    top: -0.3em;

}


button{
    cursor: pointer;
    background: #50C6FF;
    color: white;
    font-size: 2.2em;
    border-radius: 9px;
    padding: 0.3em 1em;
    text-transform: uppercase;
    border: solid 4px #45AADB;
}


#credentials{
position: fixed;
top: 0;
right: 0;
background: #E0E0E0;
font-size: 0.8em;
padding:  1em 2.2em;
}

#credentials p {
    margin: 0;
}

#target{
    position: fixed;
    bottom: 0;
    right: 0;
    background: #E0E0E0;
    font-size: 0.8em;
    padding:  0.5em 1em;
    display: flex;
    width: 40%;
    z-index: 10000000;
    border-radius: 5px 0 0 0px;
}

#target div#loading-target{
    flex: 6;
    background-color: #D4D4D4;
    border-radius: 5px;
}

#target div{
    flex: 1;
    font-size: 1.2em;
    font-weight: bold;
}

#target div#loading-target span{
    content: '';
    background: #41A0CF;
    height: 100%;
    display: block;
    border-radius: 5px 0 0 5px;
}
